---
import Is from "../../components/Is.astro";
import Singleis from "../../components/Singleis.astro";

export async function getStaticPaths() {
  const data = await fetch("https://knpasnojnbrmppkbhvhs.supabase.co/rest/v1/products", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtucGFzbm9qbmJybXBwa2JodmhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4MDI0MzgsImV4cCI6MjAzMTM3ODQzOH0.eV1A8Lk9Z7NfumZ5D9SRoNkwuK49yVj8DYHv3q0-bNM",
    },
  }).then((response) => response.json());

  return data.map((is) => {
    return {
      params: { slug: is.slug },
      props: { myData: is },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<!-- 
     id: 13,
  created_at: '2024-05-16T06:37:25.541053+00:00',
  description: 'En vidunderlig sommersmag af friske jordbær i form af en sorbet, lavet med økologisk jordbærsaft og sødet med økologisk sukker.',
  name: 'Jordbærsorbet',
  image: 'jordbær.webp',
  allergy: null,
  Ingredienser: 'Vand, økologisk jordbærsaft, økologisk sukker.',
  slug: 'jordbær-sorbet'
 -->
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
  </head>
  <body>
    <main>
      <header></header>
      <div class="image_container">
        <img src="/public/img/citroner.svg" alt="Citroner" />
        <div class="overlay_text">ISVARIANTER</div>
      </div>
      <Singleis>
        <h2>{myData.name}</h2>
        <p>Beskrivelse:{myData.description}</p>
        <p>Ingredienser:{myData.Ingredienser}</p>
        <p>Allergi:{myData.allergy}</p>
        <img class="produkt_img" src={"/public/img/varianter/" + myData.image} alt="is" />
      </Singleis>
    </main>
  </body>
  <style>
    .image_container {
      position: relative;
      text-align: center;
      color: white;
      width: 100%;
      height: 100%;
      height: calc(80vh - 300px);
    }

    .image_container img,
    svg {
      object-fit: cover;
      width: 100%;
      height: 100%;
      height: calc(80vh - 300px);
    }
    .produkt_img {
      border-radius: 50%;
      height: 250px;
      width: 250px;
    }
  </style>
</html>
